body {
    
}

.titulo-principal {
    font-family: cursive;
}

#banner {
    width: 100%   
}

.principal {
    background: #CCCCCC;
    padding: 30px;
   
}
    
.titulo-centralizado {
    font-size: 40px;
    text-align: center;
    font-style: italic;
    font-family: cursive;
}

p {
    text-align: center; 
    font-family: cursive;   
   
}

#missao{
    font-syze: 20px;
}

em strong{
    color: #FF4500;
    font-family: calibri;
}
.itens{
    font-style: italic;
}

.beneficios {
    background: #FA8072;
    padding: 20px;
      
}

ul {
    display: inline-block;
    font-size: 25px;
    font-family: cursive;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
    
}